<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/results">
                        Results
                    </a>
                </li>
            </ul>
        </div>

        <p>
        Enter a name:
        </p>
        <form name='form' method='POST'>
            <input type="text" name="input">
            <input type="submit" 
                   name="submit"
                   value="Submit">
                    </form>
    </body>
</html>
